.footer {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--background-1);
  background-image: radial-gradient(circle at bottom, var(--text-2) 0%, var(--muted-rainbow-5) 60%);
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
}

.made {
  font-size: 1.2rem;
  font-weight: 600;
}

.link {
  color: var(--background-2);
  text-decoration: none;
}

.link:hover {
  color: var(--rainbow-4);
}

.disclaimer {
  font-style: italic;
  font-size: 0.9rem;
  color: var(--background-2);
}