.timer {
  align-self: flex-end;
  margin-top: 0.5rem;
  padding: 0 1rem;
  border-radius: 8px 8px 0 0;
  background-color: var(--muted-rainbow-5);
  color: var(--background-1);
  font-size: 1.5rem;
  font-weight: 700;
  font-variant-numeric: tabular-nums;
  letter-spacing: 0.05em;
}