@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&display=swap');

.nav {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--muted-rainbow-5);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.logo {
  background: none;
  border: none;
  color: var(--background-1);
  font-family: "Badeen Display", system-ui;
  font-size: 3.3rem;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  padding: 0;
  letter-spacing: 0.33rem;
}

.logo:hover {
  color: var(--background-2);
}

.subtitle {
  margin-top: -10px;
  margin-bottom: 10px;
  color: var(--background-2);
  font-style: italic;
  font-size: 1.2rem;
}